.App {
  background: url(./bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 440px;
  justify-content: center;
  align-items: center;
   
}
body{
  padding: 0;
  margin: 0;
  
}




.heading {
  text-align: center;
 
}

div img {
  align-items: center;
  position: relative;
}

.header {
  display: grid;
  place-items: center;   
 
}

.header div{
  grid-area: 1/ 1/ 1/1;
}
.heading{
  grid-area: 1/ 1/ 1/1;
  color: rgb(60 , 62, 90);
}

h1 {
  margin: 0%;
}

.container{
  display: flex;
  justify-content: center;
}

.box {
  background-color: white;
  width: 550px;
  height: 350px;
  padding: 20px;
  padding-top: 40px;
  margin-top: 40px;
  align-items: center;

  box-shadow: 2px 2px 5px #cacdd1;
  border-radius: 30px;
}

.inbox1{
  display: grid;
  grid: auto/ 1fr 1fr 1fr 1fr;
}
.views{
  grid-area: 1/ 1/ 1/ 1;
  padding: 10px 0px 0px 0px;
  color: rgb(139, 135, 135);
  font-weight: bold;
}


.fees{
  grid-area: 1/ 4/ 1/ 5;
  text-align: end;
  padding: 10px 0px 0px 0px;
  color: rgb(160, 157, 157);
  font-weight: bold;

}
.inbox1  > h1{
  grid-area: 1/ 4/ 1/ 5;
  color: rgb(60 , 62, 90);
}


.slider{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 652px;
height: 86px;
left: 151px;
top: 373px;
flex: none;
order: 2;
flex-grow: 0;
margin: 55px 0px;}

.bill{
  padding: 30px 0px 0px 0px;
  color: rgb(160, 157, 157);

  font-weight: bold;
}

.disc{
  padding: 2px;
  margin: 0px 0px 0px 50px ;
  color: red;
  background-color: rgb(214, 174, 136);
  border-radius: 10px;
  font-size: small;
  font-weight: bold;
}
.Slider{
  text-align: center;
  padding: 5px 0px 0px 0px;
}

.billing{
  padding: 15px;
}

.inbox2{
  display: grid;
  grid: auto / 1fr 1fr;
  padding: 0px 10px;
  margin-top: 30px;
}

.checkboxes{
  display: grid;
  grid-area: 1/ 1/ 1/ 2;
}

.trial{
  display: grid;
  
  grid-area: 1/ 2/ 1/ 3;
}

.checks{
  padding: 3px 4px;
  color: rgb(128, 125, 125);
  font-size: 13px;
  font-weight: bold;
}

.startbutton{
  margin: 10% 23%;
  padding: 4% 7%;
  background-color: rgb(38, 41, 95);
  border-radius: 30px;
  color: rgb(221, 214, 214);
  font-weight: bold;
}

.startbutton:hover{
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  /* .box{
    display: flex;
  } */

  .inbox1{
    display: grid;
    grid: 1fr 1fr/ 1fr 1fr 1fr 1fr;

  }

  .views{
    display: grid;
    grid-area: 1/2/2/4;
  }

  .inbox1 > h1{
    display: grid;
    grid-area: 2/2/3/3;
  }

  .fees{
    display: grid;
    grid-area: 2/3/3/4;
  }

  .billing{
    display: grid;
    grid: 1fr 1fr/ 1fr 1fr 1fr;
  }

  .monthly{
    display: grid;
    grid-area: 1/1/2/2;
  }

  .toggle{
    display: grid;
    grid-area: 1/2/2/3;
    margin: 25px;
  }

  .yearly{
    display: grid;
    grid-area: 1/3/2/4;
  }

  .disc{
    display: grid;
    grid-area: 2/3/3/4;
  
    text-align: center;
    margin: 0px 0px 63px 0px;
  }

  .inbox2{
    display: block;
  }
  .checkboxes{
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr 2fr 1fr;

  }

  .first{
    display: grid;
    grid-area: 1/2/2/3;
  }

  .second{
    display: grid;
    grid-area: 2/2/3/3;
  }

  .third{
    display: grid;
    grid-area: 3/2/4/3;
  }

  .trial{
    text-align: center;
  }
     
  
}



/*DARK MODE CSS*/

.darkClass.App {
  background: url(./bgdark-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 440px;
  justify-content: center;
  align-items: center;
  color: white;

}




.darkClass.box{
  background-color: rgb(23,22,23);
  color: aliceblue;
  box-shadow: 2px 2px 5px black;
}

.darkClass.views{
  color: rgb(205, 216, 226);
}

.darkClass.fees{
  color: rgb(205, 216, 226);
}

.darkClass.page{
  background-color: rgb(24,25,24);
  height: 100vh;
}
h1.darkClass{
  color: white;
}
h2.darkClass{
  color: white;
}

.darkClass.heading{
  color: white;
}

.darkClass.checks{
  color: rgb(205, 216, 226);
}

.darkClass.bill{
  color: white;
}

/* .darkClass.disc{
  color: black;
} */

.darkClass.startbutton{
  background-color:aliceblue;
  color: black;
}